#principal {
    border: solid 10px #080a0f;
    padding: 10px;
    margin: 0 auto;
    width: 80%;
    background: #7cf3cf;
}

fieldset {
    margin-bottom: 10px;
}

legend {
    border: solid 1px#f50606;
    padding: 5px;
    font-weigth: bold;
    background: #93bbac;
    border-radius: 15px; 

}

Mi foto {
    border: solid 2px;
    margin: 10px;
}

body {
    background: url(photo.jpg);
}